* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO STYLES */
.hero-container {
    height: 12vh;
    background-color: rgb(97, 116, 179);
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 50%;
    text-align: center;
    padding: 0.4em;
    height: inherit;
}

.banner .img-container {
    height: 100%;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 8px;

}

.logo-wrapper {
    height: inherit;
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-wrapper img {
    height: 80%;
}

.logo-wrapper h3 {
    color: aliceblue;
    letter-spacing: 0.2em
}

/* NAV STYLES */
nav {
    height: 8vh;
    background-color: blueviolet;
}

/* Grid Content */
h1 {
    margin-top: 1em;
    text-align: center;
}

main {
    position: relative;
}


.row {
    padding: 1em;
}

.col-sm {
    padding: 1em;
}

#hidden-div {
    display: none;
    position: absolute;
    top: 0;
    left: 5em;
    width: 90%;
    height: 50vh;
    
}

#hidden-div .card {
    width: 100% !important;
}

footer {
    height: 20vh;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-text h3 {
    color: ivory;
    letter-spacing: 0.4em;
}
